    <!-- -------------------- FOOTER SECTION -------------------- -->
    <section class="footer">
        <h4>Über uns</h4>
        <p>
          U-Cube ist ein Projekt der Gerhart-Hauptmann-Schule in Griesheim und des Landkreises Darmstadt-Dieburg als Schulträger.
        </p>
  
        <div class="icons">
          <a href="https://www.facebook.com/u3.ghs/" target="_blank"><i style="color: #4267B2;" class="fa-brands fa-facebook"></i></a>
        </div>
        <p>Made with <i class="fa-solid fa-heart"></i> by M.M.</p>
      </section>
  
      <script src="/js/index.js"></script>
  </body>
</html>