    <!-- -------------------- FOOTER SECTION -------------------- -->
    <section class="footer">
        <h4>About Us</h4>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
          eirmod tempor invidunt <br />
          ut labore et dolore magna aliquyam erat, sed diam voluptua. At
        </p>
  
        <div class="icons">
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-linkedin"></i>
        </div>
        <p>Made with <i class="fa-solid fa-heart"></i> by Martin Mohammed</p>
      </section>
  
      <script src="/js/index.js"></script>
  </body>
</html>