<%- include("./../partials/head") -%>

</head>
<body>

<!-- ---------- HEADER SECTION ------------ -->
  <%- include("./../partials/nav.ejs") %>

<!-- ------------- ABOUT US CONTENT ------------- -->
<section class="about-us">
  <div class="row">
    <div class="about-col">
      <h1>Ein Forschungszentrum</h1>
      <p>
        Aus zwei Jugend-Forscht-Arbeiten entstand die Vision einer experimentellen Untersuchung der Energieeffizienz verschiedener Wärmeübertragungssysteme (Heizungen).  
      </p>
      <a href="/publications" class="hero-btn red-btn">Publikationen</a>
    </div>
    <div class="about-col">
      <img src="/images/eduford_img/about.jpg" alt="ABOUT-IMAGE" />
    </div>
  </div>
</section>

<!-- -------------------- CAMPUS SECTION -------------------- -->
<section class="uCube__About">
  <h1>Wer sind Wir & was tun Wir?</h1>
  <p>Physik, Informatik, Geographie, Englisch und Politik und Wirtschaft. </p>

  <div class="row">
    <div class="uCube__About-col">
      <img src="./images/ghs_img/007.jpg" alt="" />
      <div class="layer">
        <h3>Teamgeist</h3>
      </div>
    </div>
    <div class="uCube__About-col">
      <img src="./images/ghs_img/003.jpg" alt="" />
      <div class="layer">
        <h3>Experimente</h3>
      </div>
    </div>
    <div class="uCube__About-col">
      <img src="images/ghs_img/008.jpg" alt="" />
      <div class="layer">
        <h3>Praxis</h3>
      </div>
    </div>
  </div>
</section>

<!-- -------------------- TESTIMONIAL SECTION -------------------- -->
<section class="testimonials">
  <h1>Was zeichnet uns aus?</h1>
  <p> Die GHS will mehr und bessere Bildung, will ihre Schüler fördern und fordern, will die Generation von Morgen auf eine sich stetig verändernde Lebenswirklichkeit vorbereiten - mit einem Wort: sie will Qualität!  </p>

  <div class="row">
    <div class="testimonial-col">
      <img src="/images/ghs_img/logoghs.jpg" alt="" />
      <div>
        <p>
          Umzug: Wir haben damit begonnen, das Messgelände an der Gerhart-Hauptmann-Schule aufzubauen. 
        </p>
      </div>
    </div>
    <div class="testimonial-col">
      <img src="/images/ghs_img/logo.jpg" alt="" />
      <div>
        <p>
          Wir sind bei Jugend Forscht 2019.
        </p>
      </div>
    </div>
  </div>
</section>

  <!-- ----------- facilities ? --------- ? -->
  <section class="GHS">
    <h1>WIR - Ein Team, Eine Einrichtung</h1>
    <p>
      Kreativität, Neugierde und Forschung fördern. Als Team experimentieren und spannende Dinge aufstellen.
    </p>
    <div class="row">
      <div class="GHS-col">
        <div class="image-layer">
          <img src="images/ghs_img/richtfest.jpg" alt="" />
          <div class="layer">
            <h3>
              GHS
            </h3>
        </div>
        </div>
        <h3>Lehrerschaft Gerhart-Hauptmann-Schule</h3>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
          eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
          voluptua. At
        </p>
      </div>

      <div class="GHS-col">
        <div class="image-layer">
          <img src="images/ghs_img/IMG-20190221-WA0006.jpg" alt="" />
          <div class="layer">
            <h3>
              Jugend Forscht
            </h3>
        </div>
        </div>
        <h3>Schüler Duet bei Jugend Forscht</h3>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
          eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
          voluptua. At
        </p>
      </div>

      <div class="GHS-col">
        <div class="image-layer">
          <img src="images/ghs_img/01.jpg" alt="" />
          <div class="layer">
            <h3>
              uCube Häuser
            </h3>
        </div>
        </div>
        <h3>uCube Messeinrichtungen</h3>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
          eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
          voluptua. At
        </p>
      </div>
      
      
    </div>
  </section>






<%- include("./../partials/end") -%>
