<%- include("./../partials/head") -%>

</head>
<body>

<!-- ---------- HEADER SECTION ------------ -->
  <%- include("./../partials/nav.ejs") %>

<!-- ------------- ABOUT US CONTENT ------------- -->
<section class="about-us">
  <div class="row">
    <div class="about-col">
      <h1>Lorem Ipsum title bla bla</h1>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et
      </p>
      <a href="" class="hero-btn red-btn">EXPLORE NOW</a>
    </div>
    <div class="about-col">
      <img src="/images/eduford_img/about.jpg" alt="ABOUT-IMAGE" />
    </div>
  </div>
</section>

<%- include("./../partials/end") -%>
