<%- include("./../partials/head") -%>

</head>
<body>

<!-- ---------- HEADER SECTION ------------ -->
    <%- include("./../partials/nav.ejs") %>


<!-- ------------ contact us ---------  -->
<section class="location">
    <!-- TODO: EMBED GOOGLE MAPS  -->
    <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2571.7737889757946!2d8.575419215710282!3d49.865493779398896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47bd79e2b3028627%3A0xd6ab0cd0a55601d8!2sGerhart-Hauptmann-Schule!5e0!3m2!1sde!2sde!4v1652293853367!5m2!1sde!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></section> -->

<section class="contact-us">
    <div class="row">
        <!-- start contact-col-1 -->
        <div class="contact-col">
            <div>
                <i class="fa-solid fa-home"></i>
                <span>
                    <h5>Goethestraße 99</h5>
                    <p>Griesheim, Hessen, Germany</p>
                </span>
            </div>
            <div>
                <i class="fa-solid fa-phone"></i>
                <span>
                    <h5>06155 87540 </h5>
                    <p>Montag bis Freitag, 7Uhr bis 16Uhr</p>
                </span>
            </div>
            <div>
                <i class="fa-solid fa-envelope"></i>              
                  <span>
                      
                    <h5> </h5>
                    <p>Hinterleg uns doch eine Email</p>
                </span>
            </div>
            </div>
        <!-- end contact-col-1 -->
        <!-- start contact-col-2 -->
        <!-- COULD BE EXTRACED AS A REUSABLE COMPONENT: CONTACT FORM ------- -->
        <!-- TODO: MAKE THE FORM SUBMISSION WORK -->
        <div class="contact-col">
            <form class="contact-form" action="/contact" method="POST">
                <input name="name" type="text" placeholder="Dein Name" required>
                <input name="email" type="email" placeholder="Deine Email" required>
                <input name="subject" type="text" placeholder="Dein Anliegen" required>
                <textarea name="message" rows="10" placeholder="Deine Nachricht" required></textarea>
                <button  type="submit" class="hero-btn red-btn">Absenden</button>
            </form>
        </div>
        <!-- end contact-col-2 -->
    </div>
</section>

<%- include("./../partials/end") -%>