<%- include("./../partials/head") -%>

</head>
<body>

<!-- ---------- HEADER SECTION ------------ -->
    <%- include("./../partials/nav.ejs") %>


<!-- ------------ contact us ---------  -->
<section class="location">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20574.179082779057!2d8.560098321865603!3d49.865520144239454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47bd79e2b3028627%3A0xd6ab0cd0a55601d8!2sGerhart-Hauptmann-Schule!5e0!3m2!1sde!2sde!4v1647501364071!5m2!1sde!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</section>

<section class="contact-us">
    <div class="row">
        <!-- start contact-col-1 -->
        <div class="contact-col">
            <div>
                <i class="fa-solid fa-home"></i>
                <span>
                    <h5>XYZ Road, ABC Building </h5>
                    <p>Griesheim, Hessen, Germany</p>
                </span>
            </div>
            <div>
                <i class="fa-solid fa-phone"></i>
                <span>
                    <h5>+01 2345689 </h5>
                    <p>Monday to Satruday, 10AM to 6PM</p>
                </span>
            </div>
            <div>
                <i class="fa-solid fa-envelope"></i>                <span>
                    <h5>ghs@griesheim-eu.com </h5>
                    <p>Email us your query</p>
                </span>
            </div>
            </div>
        <!-- end contact-col-1 -->
        <!-- start contact-col-2 -->
        <!-- COULD BE EXTRACED AS A REUSABLE COMPONENT: CONTACT FORM ------- -->
        <div class="contact-col">
            <form class="contact-form" action="/contact" method="POST">
                <input name="name" type="text" placeholder="Enter your name" required>
                <input name="email" type="email" placeholder="Enter your Email address" required>
                <input name="subject" type="text" placeholder="Enter your subject" required>
                <textarea name="message" rows="10" placeholder="Message" required></textarea>
                <button  type="submit" class="hero-btn red-btn">Send Message</button>
            </form>
        </div>
        <!-- end contact-col-2 -->
    </div>
</section>

<%- include("./../partials/end") -%>