<%- include("./../partials/head") -%>
<link rel="stylesheet" href="/style/header.css" />

</head>
<body>
<section class="header">
<%- include("./../partials/nav") -%> 
  <div class="text-box">
    <h1>U-CUBE</h1>
    <p>Research Facility for Energy Efficiency and Thermal Comfort</p>
    <a href="" class="hero-btn">Besuche uns um mehr zu erfahren</a>
  </div>
</section>

<!-- -------------------- PUBLICATIONS SECTION -------------------- -->
<section class="course">
  <h1>Was ist U-Cube? </h1>
  <p>Ein Forschungszentrum für Energie-Effizienz und thermische Behaglichkeit </p>

  <div class="row">
    <div class="course-col">
      <h3>Forschungsinstitut</h3>
      <p>
        U-Cube ist ein Projekt der Gerhart-Hauptmann-Schule in Griesheim und des Landkreises Darmstadt-Dieburg als Schulträger.
      </p>
    </div>
    <div class="course-col">
      <h3>Der Mensch im Zentrum</h3>
      <p>
        U-CUBE stellt somit den Mensch mit seinen Bedürfnissen in das Zentrum der Energie-Effizienz-Forschung und darum entwickeln Schüler und Studenten kooperierender Hochschulen und Universitäten gemeinsam eine Maschine, die solche Untersuchungen realisieren kann: U-CUBE. 
      </p>
    </div>
    <div class="course-col">
      <h3>Entstehung</h3>
      <p>
        Aus zwei Jugend-Forscht-Arbeiten entstand die Vision einer experimentellen Untersuchung der Energieeffizienz verschiedener Wärmeübertragungssysteme (Heizungen).  
      </p>
    </div>
  </div>
</section>
<!-- -------------------- CAMPUS SECTION -------------------- -->
<section class="campus">
  <h1>U-Cube</h1>
  <p>hysik, Informatik, Geographie, Englisch und Politik und Wirtschaft. </p>

  <div class="row">
    <div class="campus-col">
      <img src="./images/ghs_img/003.jpg" alt="" />
      <div class="layer">
        <h3>LONDON</h3>
      </div>
    </div>
    <div class="campus-col">
      <img src="./images/ghs_img/007.jpg" alt="" />
      <div class="layer">
        <h3>Teamgeist</h3>
      </div>
    </div>
    <div class="campus-col">
      <img src="images/eduford_img/washington.png" alt="" />
      <div class="layer">
        <h3>WASHINGTON</h3>P
      </div>
    </div>
  </div>
</section>

<!-- -------------------- FACILITIES SECTION -------------------- -->
<section class="facilities">
  <h1>Die Gerhart-Hauptmann-Schule</h1>
  <p>
    Die GHS will mehr und bessere Bildung, will ihre Schüler fördern und fordern, will die Generation von Morgen auf eine sich stetig verändernde Lebenswirklichkeit vorbereiten - mit einem Wort: sie will Qualität!  
  </p>
  <div class="row">
    <div class="facilities-col">
      <img src="images/eduford_img/library.png" alt="" />
      <h3>Handwerk und Forschung</h3>
      <p>
        Das Forschungszentrum kann extra-curricular viele Anforderungen erfüllen da es einerseits eine Brücke zum Handwerk bildet aber anderseits auch zur universitären Forschung.  
      </p>
    </div>
    <div class="facilities-col">
      <img src="images/eduford_img/basketball.png" alt="" />
      <h3>Junge Forscher</h3>
      <p>
        Bei U-CUBE treffen sich Schüler, die gerne löten oder mit Holz arbeiten mit solchen, die gerne programmieren und jenen, die forschen wollen.
      </p>
    </div>
    <div class="facilities-col">
      <img src="/images/eduford_img/cafeteria.png" alt="" />
      <h3>Praktische Erfahrungen</h3>
      <p>
        Sie lernen viele Berufsfelder kennen, kooperieren mit Azubis und Studenten und entdecken, dass man im Team auch als Schüler Spitzenforschung betreiben kann.
      </p>
    </div>
  </div>
</section>
<!-- -------------------- TESTIMONIAL SECTION -------------------- -->
<section class="testimonials">
  <h1>Was unsere Schüler sagen.</h1>
  <p>Lorem Ipsum dolor sit amet, consectetur adipsicing elit.</p>

  <div class="row">
    <div class="testimonial-col">
      <img src="/images/eduford_img/user1.jpg" alt="" />
      <div>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At
        </p>
        <h3>Christine Berkley</h3>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star-half"></i>
      </div>
    </div>
    <div class="testimonial-col">
      <img src="/images/eduford_img/user2.jpg" alt="" />
      <div>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At
        </p>
        <h3>David Byerf</h3>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </div>
    </div>
  </div>
</section>

<!-- -------------------- CALL TO ACTION SECTION -------------------- -->
<section class="cta">
  <h1>
    Erhalte die Forschungsdaten <br />
    von den aktuellen uCube Experimenten.
  </h1>
  <a href="" class="hero-btn">CONTACT US</a>
</section>

<%- include("./../partials/end") -%>
