<%- include("./../partials/head") -%>
</head>
  <body>

<!-- ---------- HEADER SECTION ------------ -->
    <%- include("./../partials/nav.ejs") %>

  
<!-- ------------- Course (ations) Content ------------- -->
  <section class="course">

      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>

      <div class="row">
          <div class="course-col">
              <h3>Lorem</h3>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
          </div>
          <div class="course-col">
              <h3>Ipsum</h3>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
          </div>
          <div class="course-col">
              <h3>Ipsum</h3>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
          </div>
      </div>
  </section>



  <!-- ----------- facilities ? --------- ? -->
  <section class="facilities">
    <h1>Unsere Einrichtungen</h1>
    <p>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
      eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
      voluptua. At
    </p>
    <div class="row">
      <div class="facilities-col">
        <img src="images/eduford_img/library.png" alt="" />
        <h3>World Class Library</h3>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
          eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
          voluptua. At
        </p>
      </div>
      <div class="facilities-col">
        <img src="/images/eduford_img/basketball.png" alt="" />
        <h3>Largest Play Ground</h3>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
          eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
          voluptua. At
        </p>
      </div>
      <div class="facilities-col">
        <img src="/images/eduford_img/cafeteria.png" alt="" />
        <h3>Tasty and Healthy Food</h3>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
          eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
          voluptua. At
        </p>
      </div>
    </div>
  </section>
  

<%- include("./../partials/end") -%>
