<%- include("./../partials/head") -%>
</head>
  <body>

<!-- ---------- HEADER SECTION ------------ -->
    <%- include("./../partials/nav.ejs") %>

  
<!-- ------------- Course (ations) Content ------------- -->
  <section class="uCube__Information">

      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>

      <div class="row">
          <div class="uCube__Information-col">
              <h3>Lorem</h3>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
          </div>
          <div class="uCube__Information-col">
              <h3>Ipsum</h3>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
          </div>
          <div class="uCube__Information-col">
              <h3>Ipsum</h3>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
          </div>
      </div>
  </section>



  

<%- include("./../partials/end") -%>
